<section class="blog bgwhite p-t-94 p-b-65">
  <div class="container">
    <div class="sec-title p-b-52">
      <h3 class="m-text5 t-center">
        Trendding Comic
      </h3>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
            <%= image_tag "/images/manga/720x539-1.jpg" %>
          </a>

          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <a href="blog-detail.html" class="m-text11">
                One Piece
              </a>
            </h4>

            <span class="s-text6">Author</span> <span class="s-text7">Eiichiro Oda</span>
            <span class="s-text6">on</span> <span class="s-text7">July 22, 2011</span>

            <p class="s-text8 p-t-16">
              One Piece là câu truyện kể về Luffy và các thuyền viên của mình.
              Khi còn nhỏ, Luffy ước mơ trở thành Vua Hải Tặc.
              Cuộc sống của cậu bé thay đổi khi cậu vô tình có được sức mạnh có thể co dãn như cao su,
              nhưng đổi lại, cậu không bao giờ có thể bơi được nữa. Giờ đây, Luffy cùng những người bạn hải tặc..
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
            <%= image_tag "/images/manga/720x539-2.jpg" %>
          </a>

          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <a href="blog-detail.html" class="m-text11">
                Dragon Ball
              </a>
            </h4>

            <span class="s-text6">Author</span> <span class="s-text7">Akira Toriyama</span>
            <span class="s-text6">on</span> <span class="s-text7">July 18, 2010</span>

            <p class="s-text8 p-t-16">
              Câu truyện kể về một cậu bé tên Songoku cùng nhóm bạn của mình tham gia những chuyến phiêu lưu tìm ngọc rồng, chống lại cái ác bảo vệ trái đất.
              Nhân vật Songoku được mọi người ưa thích bởi tính thánh thiện và ngây ngô của mình.
              Câu truyện lôi cuốn người qua những tình huống phiêu lưu kì thú, những pha đấu võ đẹp mắt, và những tình huống hài hước.
              Dragon ball là bộ truyện tranh thuộc nhóm nổi tiếng nhất thế giới, được rất nhiều bạn trẻ ưa thích.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
        <!-- Block3 -->
        <div class="block3">
          <a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
            <%= image_tag "/images/manga/720x539-3.jpg" %>
          </a>

          <div class="block3-txt p-t-14">
            <h4 class="p-b-7">
              <a href="blog-detail.html" class="m-text11">
                The Seven Deadly Sins
              </a>
            </h4>

            <span class="s-text6">Author</span> <span class="s-text7">Suzuki Nakaba</span>
            <span class="s-text6">on</span> <span class="s-text7">July 2, 2017</span>

            <p class="s-text8 p-t-16">
              “Thất đại ác nhân”, một nhóm chiến binh có tham vọng lật đổ vương quốc Britannia,
              được cho là đã bị tiêu diệt bởi các “hiệp sĩ thánh chiến” mặc dù vẫn còn 1 số người cho rằng họ vẫn còn sống.
              10 năm sau, Các hiệp sĩ thánh chiến đã làm 1 cuộc đảo chính và khống chế đức vua,
              họ trở thành người cai trị độc tài mới của vương quốc. Elizabeth, con gái duy nhất của nhà vua,
              đã lên đường tìm “thất đại ác nhân” để nhờ họ tái chiếm lại vương quốc.
              Công chúa có thành công trong việc tìm kiếm “thất đại ác nhân”, các “hiệp sĩ thánh chiến” sẽ làm gì để ngăn chăn cô? xem các chap truyện sau sẽ rõ.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
