$state-danger-text: red;
$grey_pale: #dedede;
$grey_am: #dbdbdb;
$color_dd: #262626;
$color_ef: #efefef;
$color_violet: #5B28B9;
$color_white: #fff;
$color_vi: #3c2567;
$gray-deault: #eee !important;
$orange: #f18121;
$text-custom-dark: #363636;
$blue-hr: #2980b9;
$btn-read-first: #8bc34a;
$btn-read-latest: #1496ed;
$btn-like: #bd10e0;
$btn-follow: #ff2853;
$bg-box-detail: #4a4a4a;
$gray-333: #333;
$while-c: #ccc;
$bg-chapter: #424242;
$breadcrumb: #b5b5b5;

.title_user{
  text-align: center;
}
.form_user{
  margin: 0 auto;
  padding: 0;
  margin-bottom: 25px;
}
#form_user{
  margin-bottom: 10px;
  border: 1px solid #dedede !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}
#btn_primary {
  width: 100%;
  margin-top: 20px;
}

.profile .avatar{
  .wrapper{
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
  .wrapper img{
    width: 100%;
    border-radius: 50%;
  }
}

.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  button .edit-profile{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $grey_am;
    color: #262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
  ul.posts{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: $color_dd;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
}
.gravatar_edit{
  margin-top: 15px;
}

.user-edit-page{
  display: flex;
  margin-top: 60px;
  min-height: 500px;

  .actions{
    width: 220px;
    border: 1px solid $grey_am;
  }
  .details{
    flex: 1;
    border: 1px solid $grey_am;
    border-left:none;
  }
}
.actions{
  width: 220px;
  border: 1px solid $grey_am;
  .nav-link{
    font-size: 14px;
    background-color: white;
    color: black;
    border-radius: 0;
    padding: 12px 0 12px 30px;
    &:hover{
      cursor: pointer;
    }
  }
  .nav-pills .nav-link.active{
    border-left: 2px solid;
    font-weight: 600;
  }
}
.form-edit-user{
  padding: 30px 100px 10px 50px;
  .form-group, input{
    font-size: 14px;
    color: black;
  }
  input, textarea{
    border: 1px solid $color_ef;
  }
  .col-form-label{
    text-align: right;
    font-weight: 600;
  }
  .avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin: 10px 0 10px;
  }
  .change-photo{
    color: #3897f0;
    text-decoration: none;
    font-size: 13px;
    margin: 10px 0 10px;
  }
  input[type='submit']{
    color: white;
  }
}
.form-edit-user .avatar {
  height: 85px;
  width: 85px;
}
.profile .avatar .wrapper img {
  max-width: 100%;
  height: 100%;
}
#email_disable {
  pointer-events: none;
}
a.btn_back {
  border: 1px solid $color_violet;
  padding: 6px 9px;
  margin-left: 10px;
  background: $color_violet;
  border-radius: 5%;
  color: $color_white;
  &:hover{
    background: $color_vi;
  }
}
#user_name{
  border: 1px solid $grey_pale !important;
}
.story-detail-title {
  background-image: url(icons/story-list-icon06.png);
  background-repeat: no-repeat;
}

#item-detail {
  h1.title-detail {
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 1.2;
  }
  .small {
    line-height: 1;
    font-size: 13px;
    font-style: italic;
    opacity: .7;
    display: block;
    text-align: center;
    padding: 5px 0 10px;
  }
  .detail-info {
    .col-image, .col-info {
      margin-top: 10px;
    }
    ul.list-info {
      clear: both;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
  }
}

.list-info {
  li {
    padding-left: 25px;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}

.text-custom-detail {
  font-weight: bold;
  font-size: 16px;
}

#item-detail .detail-info .follow {
  margin-top: 25px;
  font-size: 15px;
}

.kind {
  padding-top: 10px;
}

.li01 a {
  background: $btn-read-first !important;
}

.li02 a {
  background: $btn-follow !important;
}

.li03 a {
  background: $btn-like !important;
}

.li04 a {
  background: $btn-read-latest !important;
}

.liparent {
  margin-top: 10px;
  overflow: hidden;
  li {
    height: 38px;
    display: inline-block;
    vertical-align: middle;
    a {
      font-size: 20px;
      float: left;
      color: white !important;
      min-width: 145px;
      border-radius: 290486px;
      padding-left: 1em;
      padding-right: 1em;
      &:hover {
        opacity: .6;
      }
    }
  }
}

.detail-content {
  padding-bottom: 5px;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-top: 20px;
}

.list-title {
  color: $blue-hr;
  border-bottom: 2px solid $blue-hr;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
  padding-bottom: 2px;
}

.detail-content p {
  padding: 0;
  margin: 0;
  position: relative;
}

.block02 .title {
  overflow: hidden;
  color: $text-custom-dark;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.story-detail .block02 {
  clear: both;
  padding-bottom: 20px;
}

h2.story-detail-title {
  color: $orange;
  font-size: 24px;
  padding-left: 30px;
  background-size: 24px 24px !important;
  float: left;
}

.box {
  max-height: 500px;
  overflow-y: auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: $bg-box-detail;
  display: block;
  padding: 1.25rem;
  .works-chapter-item {
    border-bottom: 1px solid $gray-deault;
    padding: 5px 0;
  }
}

.custom_paginate{
  padding: 0.75em 1em 0;
}
.trendding_thumb{
  width: 90px !important;
  height: 120px !important;
}

.story-see {
  margin-top: 20px !important;
  overflow: hidden;
  max-width: 1200px !important;
  margin: 0 auto;
  .story-see-main .block {
    margin: 0 auto;
  }
}

.box-detail {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: $bg-box-detail;
  display: block;
  padding: 1.25rem;
}

#path .breadcrumb {
  background-color: white;
  padding: 15px 0;
}

.breadcrumb {
  font-size: 1rem;
  white-space: nowrap;
}

#path .breadcrumb li + li:before {
  content: "\0003E";
}

.breadcrumb {
  li + li::before {
    color: $breadcrumb;
    content: "\0002f";
  }
  > li + li:before {
    padding: 0 5px;
    color: $while-c;
    content: "/\00a0";
  }
}

.detail-title {
  font-size: 20px;
  color: $gray-333;
  font-weight: 700;
  a {
    font-size: 20px;
    color: $gray-333;
    font-weight: 700;
  }
}

.main-content {
  background: $bg-chapter;
}

.pc-banner-full {
  background: $bg-chapter;
  padding-top: 0.5em;
}

.story-see-content {
  text-align: center !important;
  padding: 30px;
  margin-bottom: 30px;
}

.on.story-see-footer {
  background: $gray-333 !important;
}

.story-see-footer {
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.story-see-footer {
  [class*=list-] li {
    float: left;
    margin-right: 25px !important;
  }
  .center {
    width: 350px;
    margin-bottom: 0;
  }
}

.level-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.level-left, .level-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.level li {
  a, i {
    color: white !important;
  }
}

.story-see-footer {
  .center a:hover i {
    color: $orange;
  }
  .disable:hover i {
    color: $while-c !important;
  }
  .center a i {
    color: $bg-chapter;
    font-size: 30px;
  }
  .disable i {
    color: $while-c !important;
    opacity: .3;
    font-size: 30px;
  }
}

.on.story-see-footer .center .level-right {
  &:hover i {
    color: $orange !important;
  }
  a i {
    color: white !important;
  }
}

.story-see-footer .center a {
  &:hover i {
    color: $orange;
  }
  i {
    color: $bg-chapter;
    font-size: 30px;
  }
}

.on.story-see-footer [class*=list-] li a {
  &:hover span {
    color: $orange !important;
  }
  span {
    color: white !important;
  }
}

.story-see-footer [class*=list-] li a {
  &:hover span {
    color: $orange !important;
  }
  span {
    font-size: 16px;
    color: $bg-chapter;
  }
}

.on.story-see-footer [class*=list-] li a {
  &:hover i {
    color: $orange !important;
  }
  i {
    color: white !important;
  }
}

.story-see-footer {
  [class*=list-] li a {
    &:hover i {
      color: $orange !important;
    }
    i {
      color: $bg-chapter !important;
    }
  }
  .center select {
    width: 285px;
    padding: 4px 5px;
    outline: 0;
  }
}
