<li>
  <%= display_avatar user, size: Settings.user.thumb_size %>
  <%= link_to user.name, user, class: "avatar-custom-padding" %>
  <% if current_user.is_admin? && !user.current_user?(current_user) %> |
    <%= link_to t("common.delete"), admin_user_path(user), method: :delete, data: { confirm: t("common.require_confirm") } %>
  <% end %>
</li>
